*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  font-size: 62.5%;

  --bg-color: #ffffff;
  --primary-color: #323238;
  --primary-bt:#323238;
  --primary-bt1: #02799D;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  display: grid;
  
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  flex-wrap: wrap;
}



#timer{
  font-size: clamp(6.3rem, 4rem + 10vw, 12.6rem) ;
  line-height: 14.8rem;
  justify-content: center;
  display: flex; /* tira os espaços do span*/
}

.hide {
  display: none;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}


#controls .card-wrapper{
  width: clamp(10rem, 10rem + 30vw, 82.1rem); /* mínimo, ideal e máximo*/
  height: calc(8rem, 2rem + 10vw, 33.6rem);
}



.pause svg path, .stop svg path  {
  fill: var(--primary-bt1);
}

.lightmode .play svg path, 
.lightmode .set svg path,
.lightmode .increase svg path,
.lightmode .decrease svg path
 {
   fill: var(--primary-bt);
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}


button{
  background-color: transparent;
  border:none;
  cursor: pointer;
}


#card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;

  border-radius: 2.4rem;
}

.card{
  position: relative;
}

.card input{
  position: absolute;
  left: 2.5rem;
  bottom: 2rem;
  width: 10rem;
}


.lightmode input[type="range"],
.lightmode input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 9.0rem;
  height: .6rem;
  cursor: pointer;
  background: #323238;
  border-radius: .5rem;
 
}   

.lightmode input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  margin-top: -0.6rem;
  border-radius: 50%;
  background: #323238;
}

.lightmode .activeInput,
.lightmode .activeInput::-webkit-slider-runnable-track {
  background: white !important; 
 
}   

.lightmode .activeInput::-webkit-slider-thumb {
  background: white !important;
}

.forest svg path:hover {
  fill: #c0c0c2;
}

.rain svg path:hover {
  fill: #c0c0c2;
}

.coffeeshop svg path:hover {
  fill: #c0c0c2;
}

.fireplace svg path:hover {
  fill: #c0c0c2;
}

.lightmode .active svg path:nth-child(1) {
   fill: #02799D;
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}

.lightmode .active svg path:nth-child(2)
 {
   fill: #FFFFFF;
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}

.sun, .moon{
  position: fixed;
  align-self: flex-start;
  justify-self: end;
  margin: 6rem 6rem 0 0;
}

/* darkmode */ 

.darkmode{
  background-color: rgba(18, 18, 20, 1); 
}

.darkmode #timer {
  color: white;
}

.darkmode .play svg path, 
.darkmode .set svg path,
.darkmode .increase svg path,
.darkmode .decrease svg path
 {
   fill: #C4C4CC;
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}

.darkmode .card svg path:nth-child(1)
 {
   fill: #29292E;;
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}

.darkmode .card svg path:nth-child(2)
 {
   fill: #C4C4CC;
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}

.darkmode .active svg path:nth-child(1)  {
    fill: #0A3442;
    width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
  }

.darkmode .active svg path:nth-child(2)
 {
   fill: #FFFFFF;
   width: clamp(2.4rem, 2rem + 12vw, 4.8rem);
}

.darkmode input[type="range"],
.darkmode input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 9.0rem;
  height: .6rem;
  cursor: pointer;
  background: #C4C4CC;
  border-radius: .5rem;
}   

.darkmode input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  margin-top: -0.6rem;
  border-radius: 50%;
  background: #C4C4CC;
}

.darkmode .activeInput,
.darkmode .activeInput::-webkit-slider-runnable-track {
  background: white !important; 
 
}   

.darkmode .activeInput::-webkit-slider-thumb {
  background: white !important;
}
























