*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --bg-color: #8257E5;
  --primary-color: #FFFFFF;
  --title-color: #E1E1E6;
  --paragraph-color: #E1E1E6;
}


nav, h1, button {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 140.3rem;
  height: 78.9rem;
  position: absolute; 
}

.vetor{
  width: 4.97rem;
  height: 4.2rem;
  margin-left: 7.2rem;
}

nav{
  font-size: 2.4rem;
  line-height: 2.2rem; 
  color: var(--primary-color);
}

ul { 
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-left: 15.4rem;
  
}
ul li a {
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
 
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

button{
  color: var(--primary-color);
  padding: 1.2rem 3.2rem;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;

}

h1{
  font-size: 4.8rem;
  line-height: 12.5rem; 
  color: var(--title-color);
}

p{
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.9rem;

  width: 64.8rem;
  height: 20.3rem;
}

/* backgrounds e menu */

.universe, .exploration, .home{
  margin: 6.3rem 10.2rem 0;
}

.home{
  background: url(/image/home.png) no-repeat center fixed;
  background-size: cover; 
}

.universe {
  background: url(/image/universe.png) no-repeat center fixed;
  background-size: cover; 
}

.exploration {
  background: url(/image/exploration.png) no-repeat center fixed;
  background-size: cover; 
}










